@media (max-width: 992px) {
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 350px);
      padding: 0;
    }
  }
}
@media (max-width: 768px) {
  .price {
    margin-top: 46px;
    .divider {
      margin-top: 21px;
    }
    &__wrapper {
      margin-top: 20px;
      justify-content: center;
    }
  }
}
@media (max-width: 576px) {
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 295px);
    }
  }
}
