.price {
  margin-top: 60px;

  &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(3, minmax(44px, auto)) / repeat(2, 366px);
    grid-auto-rows: minmax(44px, auto);
    justify-content: space-between;
    row-gap: 15px;
    padding: 0 50px;
  }
  &__item {
    position: relative;
    display: grid;
    grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
    row-gap: 5px;
    padding-left: 23px;

    &:before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      top: 4px;
      left: 0px;
      background-color: $main-color;
    }
  }
  &__count {
    justify-self: end;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__descr {
    grid-column: 1/3;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
  }
}
