.promo {
  min-height: 100vh;
  background: url("../img/bg1.jpg") center (50% / cover) no-repeat;
  background-attachment: fixed;
  padding-top: 205px;
  position: relative;
  &__title {
    width: 535px;
    margin-top: 10px;
    color: white;
  }
  &__subtitle {
    position: relative;
    padding-left: 10px;
    z-index: 2;
    color: white;
    @include before_circle;
  }
  &__wrapper {
    width: 250px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    font-weight: bold;
    font-size: 14px;
    color: white;
    &:hover {
      color: $main-color;
      text-decoration: none;
    }
  }
}
