.skills {
  padding-top: 120px;
  &__wrapper {
    margin-top: 60px;
    padding: 0 10px;
    display: grid;
    grid-template: minmax(270px, auto) / repeat(3, 270px);
    grid-auto-rows: minmax(270px, auto);
    justify-content: center;
    gap: 13px;
  }
  &-item {
    border: 1px solid black;
    padding: 30px 30px 25px;

    &__img {
      display: flex;
      min-height: 65px;
      margin: 0 auto 20px;
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }

  &__descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}
