@media (max-width: 768px) {
  .policy {
    padding: 30px 10px;
    &__title {
      font-size: 22px;
    }
    &__descr {
      font-size: 14px;
    }
    &__text{
        padding:0 10px;
        font-size: 12px;
    }
    &__subtitle{
        font-size: 20px;
    }
  }
}
